<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91737999210-8de3jobva3v2hpte17b05qr0ee0snp1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91737999210-8de3jobva3v2hpte17b05qr0ee0snp1o</string>
	<key>API_KEY</key>
	<string>AIzaSyA4cn0I-_F51oj7BZtqPQhjrp8F1xIk1Ss</string>
	<key>GCM_SENDER_ID</key>
	<string>91737999210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ptgf.ptb.studentDudes</string>
	<key>PROJECT_ID</key>
	<string>student-dude</string>
	<key>STORAGE_BUCKET</key>
	<string>student-dude.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91737999210:ios:78ac8e741dda16e41c8713</string>
</dict>
</plist>